body{
    background-image: url(/31-07-2024/anime-7959691_960_720.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    width: 800px;
    height: 500px;
    border: 2px solid white;
    margin: 100px auto 0px auto ;
   /* background-image: linear-gradient( red,blue);
    background-image: linear-gradient(to top, red,blue);
    background-image: linear-gradient(to right, red,blue);
    background-image: linear-gradient(to left, red,blue);
    background-image: linear-gradient(to left bottom, red,blue);
    background-image: linear-gradient(to right bottom, red,blue);
    background-image: linear-gradient(to top left, red,blue);
    background-image: linear-gradient(to top right, red,blue);
    background-image: linear-gradient(45deg, red,blue);
    background-image: linear-gradient(-45deg, red,blue);
    background-image: linear-gradient(90deg, red,blue);
    background-image: linear-gradient(-90deg, red,blue);
    background-image: linear-gradient(40deg, red,blue,orange, green 10%,yellow 20%);
    background-image:repeating-linear-gradient(40deg, red,blue,orange, green 10%,yellow 20%);

    background-image: radial-gradient(red,blue,orange);
    background-image: radial-gradient(circle,red,blue,orange);
    background-image: radial-gradient(circle at top ,red,blue);
    background-image: radial-gradient(circle at bottom ,red,blue);
    background-image: radial-gradient(circle at top right ,red,blue);
    background-image: radial-gradient(circle at top left ,red 10%,blue 20% ,orange 30%);
    background-image: radial-gradient(circle at bottom right ,red 10%,blue 20% ,orange 30%);
    background-image: radial-gradient(circle at bottom left ,red 10%,blue 20% ,orange 30%);
    background-image: radial-gradient(circle at 0% ,red 10%,blue 20% ,orange 30%);
    background-image: radial-gradient(circle at 50% ,red 10%,blue 20% ,orange 30%);
    background-image: radial-gradient(circle at 100% ,red 10%,blue 20% ,orange 30%);
    background-image: radial-gradient(circle at 25% 65% ,red 10%,blue 20% ,orange 30%);
    background-image: radial-gradient(closest-side at 30% 40% ,red 10%,blue 20% ,orange 30%);
    background-image: radial-gradient(closest-corner at 30% 40% ,red 10%,blue 20% ,orange 30%);
    background-image: radial-gradient(farthest-side at 30% 40% ,red 10%,blue 20% ,orange 30%);
    background-image: radial-gradient(farthest-corner at 30% 40% ,red 10%,blue 20% ,orange 30%);*/
    background-image: repeating-radial-gradient(red,blue ,orange 10%,green 15%);
  
}