/*
for word wrap
p{
    width: 100px;
    border: 2px solid black;
    text-align: left;
    font-size: 20px;
}
p.one{  
word-wrap: break-word;
}  


for break word

p.one{
    width: 300px;
    border: 2px solid black;
    text-align: left;
    font-size: 20px;
    word-break: break-all;
}
    */

